.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background-color: #ffffff;
    padding: 0.7rem;
    color: #9e9e9e;
    gap: 10px;
}

.title span{
    color: #ffff;
    margin-left: 0.8em;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo-usuario{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #9e9e9e;
}

.logo-usuario img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

@media screen and (max-width: 600px) {
    .title{
        border-radius: 0px;
        margin: 0;
    }
}