.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background-color: #ffffff;
    padding: 0.7rem;
}

.title span{
    color: #ffff;
    margin-left: 0.8em;
    font-size: 1.5rem;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .title{
        border-radius: 0px;
        margin: 0;
    }
}